// Typography

@layer base {
  h1 {
    font-size: 22px;
    font-weight: bold;
    color: theme('colors.oceania.800');
    @apply mb-4;
  }
  h2, h3, h4 {
    font-size: 18px;
    font-weight: bold;
    color: theme('colors.oceania.800');
    @apply mb-4;
    &.heading {
      line-height: 40px;
    }
  }
}